body, html {
  cursor: url("img/cursorcute.png"), auto;
}

.dm-serif {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.font-vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.custom-shape-divider-top-1714409433 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1714409433 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 240px;
}

.custom-shape-divider-top-1714409433 .shape-fill {
  fill: #0B1957;
}

.custom-shape-divider-top-1714409693 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1714409693 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 240px;
}

.custom-shape-divider-top-1714409693 .shape-fill {
  fill: #D2E0ED;
}

.margin-wave {
  margin-top: 18vw;
}

.tx-lto {
  color: #0b1957;
  transition: color 0.8s ease-in-out;
}

.tx-lto:hover {
  color: #ffbe98;
}

.tx-dto {
  color: #d2e0ed;
  transition: color 0.8s ease-in-out;
}

.tx-dto:hover {
  color: #ffbe98;
}

.tx-peach {
  color: #ffbe98;
}

.bg-blue {
    background-color: #d2e0ed;
}

.bg-peach {
  background-color: #ffbe98;
}

.bg-azure {
  background-color: #5884e7;
}

.bg-penn {
  background-color: #0b1957;
}

.bg-dark {
  background-color: #141031;
}

.img-projecta {
  height: 285px;
  width: 355px;
  object-fit: contain;
  margin-top: 75px;
}

.img-projects {
  height: 285px;
  width: 355px;
  object-fit: contain;
  margin-top: 20px;
}

h1 {
 font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.5vw;
  line-height: 7vw;
  margin-top: 8vw;
}

em {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.5vw;
  line-height: 7vw;
  color: #ffbe98;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  line-height: 7vw;
  text-align: center;
}


h6 {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-size: 1.2vw;
  line-height: 1.5vw;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 2.5vw;
  color: #0b1957;
}

a {
  text-decoration: none;
  color: #d2e0ed;
  font-size: 1.5vw;
}

.div-container {
  margin-left: 7.5vw;
  margin-right: 4vw;
  text-align: center;
}

.container-fluid {
  margin-left: 3vw;
  margin-right:4vw;
}

.navbar {
  background-color: #0b1957;
}

.navbar-nav > a {
  margin-left: 1vw;
  margin-right: 1vw;
}

.custom-toggle {
  background-color: #ffbe98;
}

.card {
  position: relative;
  width: 23vw;
  height: 16vw;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 1vw;
  border-color: #0b1957;
  border-width: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin: 0;
}

.slider {
  margin: 0;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 1.5vw;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 1.7vw;
  color: #0b1957;
  font-weight: 700;
}

.card__description {
  margin: 0.5vw 0 0;
  font-family: Helvetica, sans-serif;
  font-size: 1vw;
  color: #0b1957;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
.img-s {
  object-fit: cover;
  width: 23vw;
}

.swiper {
  width: 80vw;
  height: 35vw;
  align-items: center;
  border: #0b1957;
  border-radius: 1vw;
  border-width: 0.5vw;
}

.swiper-slide {
  background: #d2e0ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 35vw;
  object-fit: contain;
  margin: auto;
}

.cssbuttons-io-button {
  background: #0b1957;
  color: white;
  font-family: "DM Serif Display", serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1.3vw;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0b1957;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin: auto;
  width: 12vw;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0b1957;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0b1957;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.main_back {
  position: absolute;
  border-radius: 10px;
  transform: rotate(90deg);
  width: 25em;
  height: 11em;
  background: #d2e0ed;
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 25em;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin-top: 8vw;
  margin-bottom: 8vw;
}

.cardz {
  width: 4.5vw;
  height: 4.5vw;
  background: #d2e0ed;
  transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
  background:#d2e0ed;
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardz .instagram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.cardz:nth-child(2) {
  border-radius: 0px;
}

.cardz:nth-child(2) .whatsapp {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.cardz:nth-child(3) {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.cardz:nth-child(3) .email {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.cardz:nth-child(4) {
  border-radius: 0px;
}

.cardz:nth-child(4) .behance {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.cardz:nth-child(5) {
  border-radius: 0px;
}

.cardz:nth-child(5) .phone {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.cardz:nth-child(6) {
  border-radius: 0px;
}

.cardz:nth-child(6) .download {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffbe98;
}

.main:hover {
  width: 25em;
  cursor: pointer;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .cardz {
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}



.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .whatsapp {
  opacity: 1;
}

.main:hover .email {
  opacity: 1;
}

.main:hover .behance {
  opacity: 1;
}

.main:hover .phone {
  opacity: 1;
}

.main:hover .download {
  opacity: 1;
}

.cardz:nth-child(1):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(1):hover .instagram {
  fill: #0b1957;
}

.cardz:nth-child(2):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(2):hover .whatsapp {
  fill: #0b1957;
}

.cardz:nth-child(3):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(3):hover .email {
  fill: #0b1957;
}

.cardz:nth-child(4):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(4):hover .behance {
  fill: #0b1957;
}

.cardz:nth-child(5):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(5):hover .phone {
  fill: #0b1957;
}

.cardz:nth-child(6):hover {
  background-color: #d2e0ed;
}

.cardz:nth-child(6):hover .download {
  fill: #0b1957;
}

.text {
  position: absolute;
  font-size: 1.5vw;
  transition: .4s ease-in-out;
  text-align: center;
  z-index: 3;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #d2e0ed;
  text-align: left;
}
